@{
    ViewData["Title"] = "Начало";
}

<div class="container my-4 hero-grid">
    <div class="row g-3">

        <div class="col-md-4">
            <div class="img-card">
                <img src="~/images/salon1.jpg" alt="Салон 1" />
                <div class="overlay">
                    <h5>Място за красота и релакс</h5>
                    <p>Професионална грижа и уютна атмосфера</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="img-card">
                <img src="~/images/salon3.jpg" alt="Салон 3" />
                <div class="overlay">
                     <h5>Перфектен педикюр</h5>
                    <p>Нежна грижа за твоите крака</p>
                    
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="img-card">
                <img src="~/images/salon2.jpg" alt="Салон 3" />
                <div class="overlay">
                   <h5>Топлина, стил и уют</h5>
                    <p>Твоята минута спокойствие</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="img-card">
                <img src="~/images/salon4.jpg" alt="Салон 4" />
                <div class="overlay">
                    <h5>Време за теб</h5>
                    <p>Грижа, която усещаш</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="img-card">
                <img src="~/images/salon5.jpg" alt="Салон 5" />
                <div class="overlay">
                    <h5>Здрава, сияйна кожа</h5>
                    <p>Красота във всеки детайл</p>
                </div>
            </div>
        </div>

<div class="col-md-4">
    <a href="/Gallery/manicure" class="text-decoration-none">
        <div class="img-card">
            <img src="~/images/salon6.jpg" alt="Маникюр" />
            <div class="overlay">
                <h5>Съвършен маникюр</h5>
                <p>Красота до върха на пръстите</p>
            </div>
        </div>
    </a>
</div>

<div class="col-md-4">
    <div class="img-card">
        <img src="~/images/salon7.jpg" alt="Салон 7" />
        <div class="overlay">
            <h5>Лазерна епилация</h5>
            <p>Гладки резултати</p>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="img-card">
        <img src="~/images/salon8.jpg" alt="Салон 8" />
        <div class="overlay">
            <h5>Професионален грим</h5>
            <p>За всеки повод</p>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="img-card">
        <img src="~/images/salon9.jpg" alt="Салон 8" />
        <div class="overlay">
            <h5>Вежди и мигли с характер</h5>
            <p>Изразителен и нежен поглед</p>
        </div>
    </div>
</div>
    </div>
</div>

