@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle sh-btn-link"
               href="#"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">
                <i class="fa-regular fa-user me-1"></i>
                @User.Identity?.Name
            </a>

            <ul class="dropdown-menu dropdown-menu-end">
                @if (User.IsInRole("Client"))
                {
                        <li>
                            <a class="dropdown-item"
                               asp-area="Client"
                               asp-controller="Appointments"
                               asp-action="My">
                                <i class="fa-regular fa-calendar-check me-2"></i> Моите часове
                            </a>
                        </li>
                        <li><hr class="dropdown-divider" /></li>
                }

                <li>
                    <a class="dropdown-item"
                       asp-area="Identity"
                       asp-page="/Account/Manage/Index">
                        <i class="fa-solid fa-gear me-2"></i> Профил
                    </a>
                </li>

                <li>
                    <form asp-area="Identity"
                          asp-page="/Account/Logout"
                          asp-route-returnUrl="@Url.Action("Index","Home", new { area = "" })">
                        <button type="submit" class="dropdown-item">
                            <i class="fa-solid fa-right-from-bracket me-2"></i> Изход
                        </button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <div class="d-flex align-items-center sh-auth">
                <a class="sh-btn-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
                <span class="separator"></span>
                <a class="sh-btn-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </div>
        </li>
    }
</ul>